body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
	
}

* {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

div {
	width: 50%;
	float: left;
}

section { 
	padding: 10px 40px;
	overflow: auto;
}

#cougar {
	background: #FFD5AE;
	clear: both;
	color: #000;
}

#lion {
	background: #B26219;
	color: #fff;
}


#tiger {
	background: #FFBD82;
	color: #000;
}

article {
	width: 50%;
	float: right;
	padding: 10px 30px 10px 40px;
}

img {
	display: block;
	margin: auto;
}

h2, div > p {
	padding-left: 15px;
}


footer { 
	text-align: center;
	padding: 5px 20px;
}

header { 
	margin: 0px 40px;
	
}

h1 {
	width: 50%;
	float: left;
	padding-left: 15px;
}

nav { 
	float: right; 
	width: 50%;
	margin-top: 35px;
	padding-left: 25%;
	padding-bottom: 10px;
}

nav ul { 
	list-style: none;
}

nav li {
	float: left;
	margin-left: 20px;
}
/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
